<table>
  <th>Name</th>
  <th>Email</th>
  <th>Password</th>
  <th>Payment</th>
  <th>Wins</th>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.email %></td>
      <td><%= player.password %></td>
      <td><%= player.payment %></td>
      <td><%= player.wins %></td>
    </tr>
  <% end %>
</table>
