<table>
  <tr>
    <th>User</th>
    <th>Wins</th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.wins %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Bowl</th>
    <th>User</th>
    <th>Pick</th>
    <th>Winner</th>
  </tr>
  <% Pick.sort_for_index.each do |pick| %>
    <tr> 
      <td><%= pick.bowl.name %></td>
      <td <%= 'class=win' if pick.winner == pick.bowl.winner %>><%= pick.user.name %></td>
      <td <%= 'class=win' if pick.winner == pick.bowl.winner %>><%= pick.winner %></td>
      <td><%= pick.bowl.winner if pick.bowl.played? %></td>
    </tr>
  <% end %>
</table>